<div class="alert alert-info">
<div class="row">
<div class="span9">
      <form >
        <input type="text" class="user_email" class="input-xlarge ">
        <a  href="#" class="btn search_users">Search</a>
      </form>
    </div>
    <div class="span6 ">
    <h2>Search Result</h2>
    <div class="row user_list" >
     	<div class='span3'>No Users </div>
        </div>
  </div>
  </div>
